<div class="container">
    <div class="titulo">
        <h1>{{HeroeFiltrado.nombre}}</h1>
    </div>
    <div class="InformacionHeroe">
        <div class="imagenHeroe">
            <img [src]="HeroeFiltrado.img" alt="">
        </div>
        <div class="containerHeroe">
            <p>{{HeroeFiltrado.bio}}</p>
            <p>{{HeroeFiltrado.casa}}</p>
            <p><img src="./../../../assets/img/LogoDC.png" alt="" *ngIf="HeroeFiltrado.casa=='DC'"></p>
            <p><img src="./../../../assets/img/LogoMarvel.png" alt="" *ngIf="HeroeFiltrado.casa=='Marvel'"></p>
            <p><small class="text-muted">Fecha aparición: {{HeroeFiltrado.aparicion}}</small></p>
        </div>
    </div>
    <div class="col-4 text-center">
        <button type="button" routerLink="/heroes" name="" id="" class="btn btn-outline-dark btn-lg btn-block">Regresar</button>
    </div>
</div>